.root {
    -fx-font-size: 16px;
}

.header-grid {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #bbb;
    -fx-border-width: 0 0 1px 0;
}

.header-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.button-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.main-button {
    -fx-padding: 10px 20px 10px 20px;
}

.ok-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: green;
}

.error-label {
    -fx-text-fill: red;
}

.table-non-printable {
    -fx-text-fill: grey;
}